#textOutputHolder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

#parsedActionTest {
  padding: 8px;
}

textarea {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;

  resize: none;

  overflow: auto;
  max-height: 400px;
  font-size: .9em;
}

.modal-custom {
  top: 100px;
}

@media screen and (max-width: 600px) {
  .modal-custom {
    top: 25px;
  }
}
