.settings-button {
  width: 100%;
  height: 90%;
  margin-bottom: 8px;
}

.changelog {
  color: white;
}

.changelog:hover {
  color: white;
}

#userSettingsLink {
  color: white;
}

#userSettingsLink:hover {
  color: white;
}
