html {
  position: relative;
  min-height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  background-color: #1C3043;
  color: #FFFFFF;
  font-family: 'Nanum Gothic';
  margin-bottom: 60px;
  /* Margin bottom by footer height */
}

/*
 * Footer
 */
.display-block {
  display: block
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #1C3043;
}

.full-width {
  width: 100%;
}

.content {
  width: 550px;
}

@media screen and (max-width: 600px) {
  .content {
    width: 275px;
  }
}

.header-text {
  color: #FFFFFF;
}

.text-center {
  margin: auto;
}

.invisible {
  display: none;
}

/*
 * Gneral icon related CSS
 */
.icon-refresh {
  color: #AAFF00 !important;
}

.icon-error {
  color: #DC3545 !important;
}

.icon {
  color: #FFFFFF;
  text-decoration: none;
}

.icon:hover {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: none;
}

.icon-btn {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.icon-btn:hover {
  cursor: pointer;
  background-color: #404040;
  border-color: #FFFFFF;
}

.list-title {
  font-size: 1.2em;
  word-wrap: break-word;
}

.list-title-inactive {
  font-size: 1.2em;
  font-style: italic;
  color: grey;
}

.list-group-item {
  background-color: #28435A;
  color: #FFFFFF;
}

.list-group-item:hover {
  background-color: #28435A;
  color: #FFFFFF;
}

.list-group-item:disabled {
  background-color: #28435A !important;
  color: #FFFFFF !important;
}

.modal-dialog {
  border-color: #223344;
}

.modal-header {
  background-color: #28435A;
  color: #FFFFFF;
}

.modal-body {
  background-color: #28435A;
  border-color: #223344;
  color: #FFFFFF;
}

.modal-footer {
  background-color: #28435A;
  border-color: #223344;
  color: #FFFFFF;
}

.modal-close > button {
  color: #FFFFFF !important;
}

.nav-link {
  color: white;
}

.scenario-button {
  width: 100%;
  height: 90%;
  margin-bottom: 8px;
  white-space: normal;
}

.white-button {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.white-button:active {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.form-plus-button {
  font-size: 1.2em;
  border-radius: 50%;
  font-weight: bold;
}

.form-x-button {
  border-radius: 50%;
  font-weight: bold;
}

.ghostClass {
  background-color: #28435A !important;
}

.formCheckbox  > input {
  width: 25px;
  height: 25px;
}

.table {
  color: white;
}

/*
 * Accordians
 */

 .accordion-body {
   background-color: #28435A;
 }

 .accordion-header {
   background-color: #28435A;
   color: #FFFFFF;
 }

 .accordion-button {
   background-color: #28435A;
   color: #FFFFFF;
 }

 .accordion-button.collapsed::after {
   color: #FFFFFF;
   background-color: #28435A;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
 }

 .accordion-button:focus {
   color: #FFFFFF;
   background-color: #404040;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%1967EB'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

 .accordion-button:hover {
   color: #FFFFFF;
   background-color: #404040;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%1967EB'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
 }
