
.tab-text {
  color: #FFFFFF;
}

.tab-text:hover {
  color: #FFFFFF;
}

.list-name {
  font-size: .9em;
  font-style: italic;
  color: #B2B2B2;
}

.activeIcon {
  color: #40E6BA;
}

.inactiveIcon {
  color: #6C757D;
}

.modal-custom {
  top: 100px;
}

@media screen and (max-width: 600px) {
  .modal-custom {
    top: 25px;
  }
}
