{{#if showFilters}}
  <div class="row">
    <div class="col-md-1 mb-1 me-3">
      <button class="btn btn-outline-primary icon-btn" title="Hide filters" onclick="HomeAutomation.Action.hideFilters('{{filters.listType}}', '{{filters.selectCallback}}')"><i class="fas fa-ban"></i></button>
    </div>
    <div class="col-md-4 mb-1">
      <input type="text" class="form-control" id="titleFilter" placeholder="Title" maxlength="32" value="{{filters.title}}">
    </div>
    <div class="col-md-4 mb-1">
      <input type="text" class="form-control" id="nameFilter" placeholder="Name" maxlength="32" value="{{filters.name}}">
    </div>
    <div class="col-md-1 mb-1">
      <button class="btn btn-outline-primary icon-btn" title="Filter events" onclick="HomeAutomation.Action.onSearch('{{filters.listType}}', '{{filters.selectCallback}}')"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-5 mb-1">
      <div class="form-check">
        <label class="form-check-label" for="userCreatedFilter">
          Include Generated
        </label>
        {{#if filters.user_created}}
          <input type="checkbox" class="form-check-input" id="userCreatedFilter" checked="checked" onchange="">
        {{else}}
          <input type="checkbox" class="form-check-input" id="userCreatedFilter" onchange="">
        {{/if}}
      </div>
    </div>
  </div>
{{else}}
  <div class="col">
    <button class="btn btn-outline-primary icon-btn" title="Show filters" onclick="HomeAutomation.Action.showFilters('{{filters.listType}}', '{{filters.selectCallback}}')"><i class="fas fa-filter"></i></button>
  </div>
{{/if}}
