<div class="row mb-2" id="actionFilters">
  {{> ACTION_FILTER }}
</div>

<div class="table-responsive-sm">
  <table class="table table-sm eventTable">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each actions}}
        <tr>
          <td>{{maxLength title 15}}</td>
          <td>{{maxLength name 15}}</td>
          <td><i class="fas fa-eye fa-2x icon" onclick="HomeAutomation.Action.openViewActionSummaryModel({{id}})"></i></td>
          <td><i class="fas fa-arrow-right fa-2x icon" onclick="HomeAutomation.Action.selectAction({{id}}, '{{title}}', '{{name}}', 'modal-custom', '{{../filters.selectCallback}}')"></i></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
