<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel-{{modalId}}">Action Search</h5>
    <button type="button" class="btn-close btn-close-white" onclick="HomeAutomation.Util.closeModal('modal-{{modalId}}')"></button>
  </div>

  <div class="modal-body">

    <div id="actions-search-list-holder">
      {{> ACTION_SEARCH_LIST }}
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="HomeAutomation.Util.closeModal('modal-{{modalId}}')">Close</button>
  </div>
</div>
