<li id="{{taskType}}-{{id}}" class="list-group-item list-group-item-action align-items-start">

  <div class="row">

    <div class="col-10 float-start">
      <div class="row">

        <div class="mb-3 col-md-6">
          <label class="form-label" for="{{taskType}}Control-{{id}}">Control</label>
          <input type="text" class="form-control" id="{{taskType}}Control-{{id}}" maxLength="63" value="{{control.title}}" disabled>
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="{{taskType}}Action-{{id}}">Action</label>
          {{#if view.actionEnabled}}
            <select class="form-select" id="{{taskType}}Action-{{id}}" onchange="{{parent.binding}}.onTaskActionSelect({{id}}, '{{taskType}}', {{parent.namespace}}.getSelectedValue(this))">
              <option value=""></option>
              {{#select action}}
                {{#each view.actions}}
                  <option value="{{@key}}">{{@key}}</option>
                {{/each}}
              {{/select}}
            </select>
          {{else}}
            <select class="form-control" id="thenAction-{{id}}" disabled>
              <option value=""></option>
            </select>
          {{/if}}
        </div>

      </div>


      {{#each parameters}}

        <div class="row mb-3">

          {{#if ../parameterRequired}}
            {{#unless @first}}
              <div class="col-md-2 my-auto">
                <input type="button" class="btn btn-outline-primary white-button form-x-button float-right" onclick="{{../parent.binding}}.onDeleteTaskParameter({{../id}}, '{{../taskType}}', {{id}})" value="X" />
              </div>
            {{/unless}}
          {{else}}
            <div class="col-md-2 my-auto">
              <input type="button" class="btn btn-outline-primary white-button form-x-button float-right" onclick="{{../parent.binding}}.onDeleteTaskParameter({{../id}}, '{{../taskType}}', {{id}})" value="X" />
            </div>
          {{/if}}

          <div class="col-md-5">
            <label class="form-label" for="{{../taskType}}Key-{{../id}}-{{id}}">Parameter</label>



              <select class="form-select" id="{{../taskType}}Key-{{../id}}-{{id}}" onchange="{{../parent.binding}}.onTaskParameterKeySelect({{../id}}, '{{../taskType}}', '{{id}}', {{../parent.namespace}}.getSelectedValue(this))">
                <option value=""></option>
                {{#select key}}
                  {{#each ../parameterKeys}}
                    <option value="{{.}}">{{.}}</option>
                  {{/each}}
                {{/select}}
              </select>



          </div>

          <div class="col-md-5">
            <label class="form-label" for="{{../taskType}}Value-{{../id}}-{{id}}">Value</label>

            {{#if definedValues}}
              <select class="form-select" id="{{../taskType}}Value-{{../id}}-{{id}}" onchange="{{../parent.binding}}.onTaskParameterValueChange({{../id}}, '{{../taskType}}', '{{id}}', {{../parent.namespace}}.getSelectedValue(this))">
                <option value=""></option>
                {{#select value}}
                  {{#each definedValues}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/select}}
              </select>

            {{else}}
              <input type="text" class="form-control" id="{{../taskType}}Value-{{../id}}-{{id}}" maxLength="31" value="{{value}}" oninput="{{../parent.binding}}.onTaskParameterValueChange({{../id}}, '{{../taskType}}', '{{id}}', {{../parent.namespace}}.getInputValue(this))">
            {{/if}}

          </div>
        </div>

      {{/each}}

      {{#unless noParameters}}
        <input type="button" class="btn btn-outline-primary white-button form-plus-button mb-2" id="onAddTaskParameter" onclick="{{parent.binding}}.onAddTaskParameter({{id}}, '{{taskType}}')" value="+"/>
      {{/unless}}
    </div>


    <div class="col-2 float-end my-auto">
      <div class="mb-3">
        {{#if reorderMode}}
          <i class="fas fa-arrows-v fa-2x"></i>
        {{else}}
          <input type="button" class="btn btn-outline-primary white-button form-x-button float-right" onclick="{{parent.binding}}.removeTask({{id}}, '{{taskType}}')" value="X" />
        {{/if}}
      </div>
    </div>

  </div>

  {{#if error}}
    <div class="form-row">
      <small class="text-danger text-center">{{error}}</small>
    </div>
  {{/if}}

</li>
