<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Edit Action</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form id="editActionForm">
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="actionTitleField">
            Action Title:
          </label>
          <input type="text" class="form-control" id="actionTitleField" placeholder="Action Title" maxLength="127" value="{{title}}">
          <small id="actionTitleErrorHolder" class="text-danger">
          </small>
        </div>

        <div class="form-group col-md-10">
          <label for="actionNameField">
            Action Name:
          </label>
          <input type="text" class="form-control" id="actionNameField" placeholder="Action Name" maxLength="31" value={{name}}>
          <small id="actionNameErrorHolder" class="text-danger">
          </small>
        </div>

        <div class="form-group col-md-10">
          <label for="descriptionField">
            Description:
          </label>
          <input type="text" class="form-control" id="descriptionField" placeholder="Description" maxlength="511" value={{description}}>
          <small id="descriptionErrorHolder" class="text-danger">
          </small>
        </div>
      </div>

      <div>
        <p id="formParsingErrorHolder" class="text-danger text-center">
          {{{parseErrors}}}
        </p>
      </div>

      <hr>

      <h3>IF...</h3>
      <div id="action-ifs-holder">
      </div>
      <input type="button" class="btn btn-outline-primary white-button form-plus-button mb-2" id="addIf" onclick="HomeAutomation.Action.addFormSection('if')" value="+"/>

      <hr>

      <h3>THEN...</h3>
      <div id="action-thens-holder">
      </div>
      <input type="button" class="btn btn-outline-primary white-button form-plus-button mb-2" id="addThen" onclick="HomeAutomation.Action.addFormSection('then')" value="+"/>

      <div>
        <p id="formErrorHolder" class="text-danger text-center">
        </p>
      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick="HomeAutomation.Action.deleteConfirmation('{{id}}')">Delete</button>
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Action.addOrUpdate('{{id}}')">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
</div>
