<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Test {{action.title}} ({{action.name}})</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div id="textOutputHolder">
        <textarea id="testOutput" name="testOutput" rows="9" readonly>{{#each log}}{{this}}&#10;{{/each}}</textarea>
      </div>
    </div>
    {{#if isError}}
      <div class="row">
        <p class="text-center text-danger">{{error}}</p>
      </div>
    {{else}}
      {{#if results.timeDuration}}
        <div class="row">
          <div class="col-12">
            <p class="float-left ms-2">Runtime: {{results.timeDuration}}s</p>
          </div>
        </div>
      {{/if}}

      <div class="row">
        <div class="col-12">
          {{#if results.error}}
            <p class="text-center text-danger">Test ended with an error.</p>
          {{/if}}
          {{#if results.ifCondition}}
            <p class="text-center text-warning">Test was successful, but if condition(s) were false.</p>
          {{/if}}
          {{#if results.success}}
            <p class="text-center text-success">Test was successful.</p>
          {{/if}}
        </div>
      </div>
      <div class="row" id="parsedActionTest">
        {{#each action.ifs}}
          {{#if @first}}
            <div class="col-12">
              <h4>IF</h4>
            </div>
            <div class="col-12">
              <p><b>{{control.title}}</b>: {{action}}({{parameter}}) {{comparator}} {{value}}</p>
            </div>
          {{else}}
            <div class="col-12">
              <b>AND</b> <p><b>{{control.title}}</b>: {{action}}({{parameter}}) {{comparator}} {{value}}</p>
            </div>
          {{/if}}
        {{/each}}
        {{#each action.thens}}
          {{#if @first}}
            <div class="col-12">
              <h4>THEN</h4>
            </div>
            <div class="col-12">
              <p><b>{{control.title}}</b>: <i>{{action}}</i>:
                {{#each parameters}}
                    {{key}} = {{value}}
                {{/each}}
              </p>
            </div>
          {{else}}
            <div class="col-12">
              <p><b>AND</b> <b>{{control.title}}</b>: <i>{{action}}</i>:
                {{#each parameters}}
                    {{key}} = {{value}}
                {{/each}}
              </p>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="modal-footer">
    {{#if isError}}
      <button type="button" id="test-button" class="btn btn-secondary disabled">Test</button>
    {{else}}
      <button type="button" id="test-button" class="btn btn-success" onclick="HomeAutomation.Action.testAction({{action.id}})">Test</button>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
