<div class="row justify-content-end float-end mb-2">
  {{#ifEquals view.modalType 'add'}}
    <div class="col">
      <button type="button" class="btn btn-primary" onclick="{{namespace}}.onAddOrUpdate('')">Add</button>
    </div>
  {{/ifEquals}}
  {{#ifEquals view.modalType 'edit'}}
    <div class="col">
      <button type="button" class="btn btn-danger" onclick="HomeAutomation.Util.openModal({{namespace}}.onDeleteConfirmation('{{id}}'))">Delete</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" onclick="{{namespace}}.onAddOrUpdate('{{id}}')">Save</button>
    </div>
  {{/ifEquals}}
  <div class="col">
    <button type="button" class="btn btn-secondary" onclick="HomeAutomation.Util.redirect('{{rootURL}}/action/settings')">Cancel</button>
  </div>
</div>
