{{#if control}}
<p>
  <b>{{control.title}}</b>: <i>{{action}}</i>:
  {{#if parameters}}
    {{#each parameters}}
      {{key}} = {{value}}
    {{/each}}
  {{/if}}
</p>
{{/if}}
{{#if event}}
  <b>(Event) {{event.title}}</b>: <i>{{action}}</i>
{{/if}}
