<li id="if-{{id}}" class="list-group-item list-group-item-action align-items-start">
<!--<div id="if-{{id}}">-->
  <div class="row">

    <div class="col-10 float-start">

      <div class="row mb-3">

        <div class="mb-3 col-md-6">
          <label class="form-label" for="ifControl-{{id}}">Control</label>
          <input type="text" class="form-control" id="ifControl-{{id}}" maxLength="63" value="{{control.title}}" disabled>
        </div>

        <div class="mb-3 col-md-6">
          <label class="form-label" for="ifAction-{{id}}">Action</label>
          {{#if view.actionEnabled}}
            <select class="form-select" id="ifAction-{{id}}" onchange="{{parent.binding}}.onIfConditionalSelect({{id}}, {{parent.namespace}}.getSelectedValue(this))">
              <option value=""></option>
              {{#select conditional}}
                {{#each view.actions}}
                  <option value="{{@key}}">{{@key}}</option>
                {{/each}}
              {{/select}}
            </select>
          {{else}}
            <select class="form-control" id="ifAction-{{id}}" disabled>
              <option value=""></option>
            </select>
          {{/if}}
        </div>

      </div>

      <div class="row mb-3">

        <div class="col-md-4 mb-3">
          <label class="form-label" for="ifParameter-{{id}}">Parameter</label>
          {{#if view.parameterEnabled}}
            <select class="form-select" id="ifParameter-{{id}}" onchange="{{parent.binding}}.onIfParameterSelect({{id}}, {{parent.namespace}}.getSelectedValue(this))">
              <option value=""></option>
              {{#select parameter}}
                {{#each view.parameters}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              {{/select}}
            </select>
          {{else}}
            <select class="form-control" id="ifParameter-{{id}}" disabled>
              <option value=""></option>
            </select>
          {{/if}}
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label" for="ifComparator-{{id}}">Comp.</label>
          <select class="form-select" id="ifComparator-{{id}}" onchange="{{parent.binding}}.onIfComparatorSelect({{id}}, {{parent.namespace}}.getSelectedValue(this))">
            {{#select comparator}}
              <option value=""></option>
              <option value="STR_EQ">String Equal</option>
              <option value="NUM_GT">Num Greater Than</option>
              <option value="NUM_LT">Num Less Than</option>
              <option value="NUM_EQ">Num Equal</option>
              <option value="NUM_GE">Num Greater Than Equal</option>
              <option value="NUM_LE">Num Less Than Equal</option>
            {{/select}}
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label class="form-label" for="ifValue-{{id}}">Value</label>
          <input type="text" class="form-control" id="ifValue-{{id}}" maxLength="31" value="{{value}}" oninput="{{parent.binding}}.onIfValueChange({{id}}, {{parent.namespace}}.getInputValue(this))">
          <small id="ifValue-{{id}}ErrorHolder" class="text-danger"></small>
        </div>
      </div>

    </div>

    <div class="col-2 float-end my-auto">
      <div class="mb-3">
        {{#if reorderMode}}
          <i class="fas fa-arrows-v fa-2x"></i>
        {{else}}
          <input type="button" class="btn btn-outline-primary white-button form-x-button" onclick="{{parent.binding}}.removeIf({{id}})" value="X" />
        {{/if}}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12 text-center">
      {{#if error}}
        <div class="form-row">
          <small class="text-danger text-center">{{error}}</small>
        </div>
      {{/if}}
    </div>
  </div>

</li>
