
  <div class="row">
    <div class="mb-3">
      <label class="form-label float-start" for="actionTitleField">Action Title:</label>
      <input type="text" class="form-control {{errors.title.errClass}}" id="actionTitleField" placeholder="Title" maxLength="127" value="{{title}}" oninput="{{binding}}.onTitleInput({{namespace}}.getInputValue(this))">
      <small id="actionTitleErrorHolder" class="float-start text-danger">{{errors.title.errMsg}}</small>
    </div>

    <div class="mb-3">
      <label class="form-label float-start" for="actionNameField">Action Name:</label>
      <input type="text" class="form-control {{errors.name.errClass}}" id="actionNameField" placeholder="Name (Unique)" maxLength="31" value="{{name}}" oninput="{{binding}}.onNameInput({{namespace}}.getInputValue(this))">
      <small id="actionNameErrorHolder" class="float-start text-danger">{{errors.name.errMsg}}</small>
    </div>

    <div class="mb-3">
      <label class="form-label float-start" for="descriptionField">Description:</label>
      <input type="text" class="form-control" id="descriptionField" placeholder="Description" maxlength="511" value="{{description}}" oninput="{{binding}}.onDescriptionInput({{namespace}}.getInputValue(this))">
      <small id="descriptionErrorHolder" class="float-start text-danger">
      </small>
    </div>
  </div>

  <div>
    <p id="formParsingErrorHolder" class="text-danger text-center">
      {{{parseErrors}}}
    </p>
  </div>

  <hr>

  <div class="accordion" id="ifAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="ifHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIf" aria-expanded="true" aria-controls="collapseIf">
          IF...
        </button>
      </h2>

      <div id="collapseIf" class="accordion-collapse collapse show" aria-labelledby="ifHeading" data-bs-parent="#ifAccordion">
        <div class="accordion-body">

          <div class="row mb-2">

            <div class="col-md">
              <label class="form-label" for="ifExecutionField">Execution</label>
              <select class="form-select {{errors.ifExecution.errClass}}" id="ifExecutionField" onchange="{{binding}}.onIfExecutionSelect({{namespace}}.getSelectedValue(this))">
                <option value=""></option>
                {{#select ifExecution}}
                  <option value="SERIAL">In Order</option>
                  <option value="PARALLEL">Parallel</option>
                {{/select}}
              </select>
              <small id="ifExecutionErrorHolder" class="text-danger">{{errors.ifExecution.errMsg}}</small>
            </div>

            <div class="col-md">
              <label class="form-label" for="reorderIf">Reorder</label>
              <br>
              {{#if view.ifReorderMode}}
                <button id="reorderIf" class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="{{binding}}.onDeactiveReorderMode('if')"><i class="fas fa-save"></i> Save Order</i></button>
              {{else}}
                <button id="reorderIf" class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="{{binding}}.onActivateReorderMode('if')"><i class="fas fa-sort"></i></button>
              {{/if}}
            </div>

          </div>

          <hr>

          <div id="action-ifs-holder" class="mb-2">
            <ul id="ifReorderList" class="list-group">
              {{#each ifs}}
                {{> ACTION_IF_FORM parent=.. reorderMode=../view.ifReorderMode}}
              {{/each}}
            </ul>
          </div>

          {{#unless view.ifReorderMode}}
            <div>
              <input type="button" class="btn btn-outline-primary white-button form-plus-button mb-2" id="addIf" onclick="{{binding}}.openAddIfSelect()" value="+"/>
            </div>
          {{/unless}}

        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="accordion" id="thenAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="thenHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThen" aria-expanded="true" aria-controls="collapseThen">
          THEN...
        </button>
      </h2>

      <div id="collapseThen" class="accordion-collapse collapse show" aria-labelledby="thenHeading" data-bs-parent="#thenAccordion">
        <div class="accordion-body">

          <div class="row mb-3">

            <div class="col-md">
              <label class="form-label" for="thenExecutionField">Execution</label>
              <select class="form-select {{errors.thenExecution.errClass}}" id="thenExecutionField" onchange="{{binding}}.onThenExecutionSelect({{namespace}}.getSelectedValue(this))">
                <option value=""></option>
                {{#select thenExecution}}
                  <option value="SERIAL">In Order</option>
                  <option value="PARALLEL">Parallel</option>
                {{/select}}
              </select>

              <small id="thenExecutionErrorHolder" class="text-danger">{{errors.thenExecution.errMsg}}</small>
            </div>

            <div class="col-md">
              <label class="form-label" for="reorderThen">Reorder</label>
              <br>
              {{#if view.thenReorderMode}}
                <button id="reorderThen" class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="{{binding}}.onDeactiveReorderMode('then')"><i class="fas fa-save"></i> Save Order</i></button>
              {{else}}
                <button id="reorderThen" class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="{{binding}}.onActivateReorderMode('then')"><i class="fas fa-sort"></i></button>
              {{/if}}
            </div>
          </div>

          <hr>

          <div id="action-thens-holder" class="mb-2">
            <ul id="thenReorderList" class="list-group">
              {{#each thens}}
                {{> ACTION_TASK_CONTROL_FORM parent=.. taskType='then' reorderMode=../view.thenReorderMode}}
              {{/each}}
            </ul>
          </div>

          {{#unless view.thenReorderMode}}
            <div>
              <input type="button" class="btn btn-outline-primary white-button form-plus-button mb-2" id="addTask" onclick="{{binding}}.openAddTaskSelect('then')" value="+"/>
            </div>
          {{/unless}}

        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="accordion" id="elseAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="elseHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseElse" aria-expanded="true" aria-controls="collapseElse">
          ELSE...
        </button>
      </h2>

      <div id="collapseElse" class="accordion-collapse collapse show" aria-labelledby="elseHeading" data-bs-parent="#elseAccordion">
        <div class="accordion-body">

          <div class="row mb-3">

            <div class="col-md">
              <label class="form-label" for="elseExecutionField">Execution</label>
              <select class="form-select {{errors.elseExecution.errClass}}" id="elseExecutionField" onchange="{{binding}}.onElseExecutionSelect({{namespace}}.getSelectedValue(this))">
                <option value=""></option>
                {{#select elseExecution}}
                  <option value="SERIAL">In Order</option>
                  <option value="PARALLEL">Parallel</option>
                {{/select}}
              </select>
              <small id="elseExecutionErrorHolder" class="text-danger">{{errors.elseExecution.errMsg}}</small>
            </div>

            <div class="col-md">
              <label class="form-label" for="reorderElse">Reorder</label>
              <br>
              {{#if view.elseReorderMode}}
                <button id="reorderElse" class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="{{binding}}.onDeactiveReorderMode('else')"><i class="fas fa-save"></i> Save Order</i></button>
              {{else}}
                <button id="reorderElse" class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="{{binding}}.onActivateReorderMode('else')"><i class="fas fa-sort"></i></button>
              {{/if}}
            </div>
          </div>

          <hr>

          <div id="action-elses-holder" class="mb-2">
            <ul id="elseReorderList" class="list-group">
              {{#each elses}}
                {{> ACTION_TASK_CONTROL_FORM parent=.. taskType='else' reorderMode=../view.elseReorderMode}}
              {{/each}}
            </ul>
          </div>

          {{#unless view.elseReorderMode}}
            <div>
              <input type="button" class="btn btn-outline-primary white-button form-plus-button mb-2" id="addTask" onclick="{{binding}}.openAddTaskSelect('else')" value="+"/>
            </div>
          {{/unless}}

        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="mb-2">
    <p id="formErrorHolder" class="text-danger text-center">
      {{error}}
    </p>
  </div>


{{> ACTION_ADD_EDIT_FOOTER }}
