<div class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Create Conditional</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-outline-primary btn-lg white-button mb-2" onclick="{{binding}}.openIfObjectTypeSelect('control')">Control</button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>

</div>
