<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel-{{modalId}}">Action Summary</h5>
    <button type="button" class="btn-close btn-close-white" onclick="HomeAutomation.Util.closeModal('modal-{{modalId}}')"></button>
  </div>

  <div class="modal-body">

    <div class="row text-center">
      <h5><b>{{action.title}}</b></h5>
      <i>({{action.name}})</i>
    </div>

    <div class="row">
      {{#each action.parsedIfs}}
        {{#if @first}}
          <div class="col-12">
            <h4>IF</h4>
          </div>
          <div class="col-12">
            {{> ACTION_SUMMARY_IF }}
          </div>
        {{else}}
          <div class="col-12">
            <p><b>AND</b></p>
            {{> ACTION_SUMMARY_IF }}
          </div>
        {{/if}}
      {{/each}}
      <hr>
      {{#each action.parsedThens}}
        {{#if @first}}
          <div class="col-12">
            <h4>THEN</h4>
          </div>
          <div class="col-12">
            {{> ACTION_SUMMARY_TASK }}
          </div>
        {{else}}
          <div class="col-12">
            <p><b>AND</b></p>
            {{> ACTION_SUMMARY_TASK }}
          </div>
        {{/if}}
      {{/each}}
      {{#each action.parsedElses}}
        {{#if @first}}
          <div class="col-12">
            <h4>ELSE</h4>
          </div>
          <div class="col-12">
            {{> ACTION_SUMMARY_TASK }}
          </div>
        {{else}}
          <div class="col-12">
            <p><b>AND</b></p>
            {{> ACTION_SUMMARY_TASK }}
          </div>
        {{/if}}
      {{/each}}
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="HomeAutomation.Util.closeModal('modal-{{modalId}}')">Close</button>
  </div>
</div>
