{{#if admin}}
  <div class="col-12 mb-2">
    <h5>Change Password</h5>
  </div>

  <form id="addEventForm">

    <div class="mb-2">
      <label class="form-label" for="currentPassword">Current Password:</label>
      <input type="password" class="form-control {{errors.existingPassword.errClass}}" id="existingPasswordField" placeholder="Current" value="{{values.existingPassword}}" maxLength="127" required>
      <small id="existingPasswordErrorHolder" class="text-danger">{{errors.existingPassword.errMsg}}</small>
    </div>

    <div class="mb-2">
      <label class="form-label" for="currentPassword">New Password:</label>
      <input type="password" class="form-control {{errors.newPassword.errClass}}" id="newPasswordField" value="{{values.newPassword}}" placeholder="New" maxLength="127" required>
      <small id="newPasswordErrorHolder" class="text-danger">{{errors.newPassword.errMsg}}</small>
    </div>

    <div class="mb-2">
      <label class="form-label" for="currentPassword">Repeat New Password:</label>
      <input type="password" class="form-control {{errors.newPasswordRepeat.errClass}}" id="newPasswordRepeatField" value="{{values.newPasswordRepeat}}" placeholder="Repeat New" maxLength="127" required>
      <small id="newPasswordRepeatErrorHolder" class="text-danger">{{errors.newPasswordRepeat.errMsg}}</small>
    </div>

    <div class="mb-2">
      <p id="formErrorHolder" class="text-danger text-center">{{errors.responseError}}</p>
    </div>

    <div class="mb-2">
      <button type="button" class="btn btn-primary" onclick="HomeAutomation.User.onChangeAdminPassword()">Update Password</button>
    </div>

  </form>

  {{#if showSuccess}}
    <div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Password successfully updated
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {{/if}}

  <hr>

{{/if}}
