<div class="list-group">
  {{#each users}}
    <div id="guest-user-{{id}}" class="list-group-item list-group-item-action align-items-start">
      <div class="row">
        <div class="col-3 float-start">
        </div>
        <div class="col-6">
          <p class="mb-1 list-title">{{username}}</p>
        </div>
        <div class="col-3 float-end">
          <i class="far fa-edit fa-2x icon me-2" onclick="HomeAutomation.Util.openModal(HomeAutomation.User.openGuestAddEditModal('{{id}}'))"></i>
        </div>
      </div>
    </div>
  {{/each}}
</div>
