{{#if admin}}
  <div class="mb-2">
    <h5>Guest Users</h5>
    <button class="float-end btn btn-outline-primary icon-btn" onclick="HomeAutomation.Util.openModal(HomeAutomation.User.openGuestAddEditModal())"><i class="float-left fas fa-user-plus fa-2x"></i></button>
  </div>

  <div id="guest-user-list-holder">
    <img class="loading-gif" src="Resources/Images/loading-white.gif">
  </div>
{{/if}}
