<div class="modal-content">
  <div class="modal-header">
    {{#if view.edit}}
      <h5 class="modal-title" id="modalLabel">Edit Guest User</h5>
    {{else}}
      <h5 class="modal-title" id="modalLabel">Add Guest User</h5>
    {{/if}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form id="addEventForm">

      <div class="mb-3">
        <label class="form-label" for="usernameField">Username:</label>
        <input type="text" class="form-control {{errors.username.errClass}}" id="usernameField" placeholder="Username" maxLength="30" value="{{user.username}}" required>
        <small id="usernameErrorHolder" class="text-danger">{{errors.username.errMsg}}</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="usernameField">Password:</label>
        <input type="password" class="form-control {{errors.password.errClass}}" id="passwordField" placeholder="Password" maxLength="255" value="{{user.password}}" required>
        {{#if view.edit}}
          <p><small>(Leave blank for unchanged)</small><p>
        {{/if}}
        <small id="passwordErrorHolder" class="text-danger">{{errors.password.errMsg}}</small>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="enabledField">
          Enabled
        </label>
        {{#if user.enabled}}
          <input type="checkbox" class="form-check-input" id="enabledField" checked="checked">
        {{else}}
          <input type="checkbox" class="form-check-input" id="enabledField">
        {{/if}}
      </div>

      <hr>

      <h5>User Permissions</h5>
      <p>Topics:</p>
      {{#each view.topics}}
        <div class="form-check">
          <label class="form-check-label" for="topicCheck-{{id}}">
            {{topicTitle}}
          </label>
          {{#if enabled}}
            <input type="checkbox" class="form-check-input" id="topicCheck-{{id}}" checked="checked">
          {{else}}
            <input type="checkbox" class="form-check-input" id="topicCheck-{{id}}">
          {{/if}}
        </div>
      {{/each}}


      <div>
        <p id="addEditFormErrorHolder" class="text-danger text-center">
          {{errors.formError}}
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.User.onAddOrUpdate({{user.id}})">Save</button>
    {{#if view.edit}}
      <button type="button" class="btn btn-danger" onclick="HomeAutomation.User.onDeleteConfirmation({{user.id}})">Delete</button>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
