{{#if loggedIn}}
  <i><h5>Logged in as: {{username}}</h5></i>
  <button class="btn btn-primary icon-btn" onclick="HomeAutomation.User.logoutUser()"><i class="fas fa-sign-out-alt"></i> Logout</button>
{{else}}
  <button class="btn btn-primary icon-btn" onclick="HomeAutomation.User.loginUser()"><i class="fas fa-sign-in-alt"></i> Login</button>
{{/if}}
