{{#if showFilters}}
  <div class="col-md-1 mb-1 me-3">
    <button class="btn btn-outline-primary icon-btn" title="Hide filters" onclick="HomeAutomation.Event.hideFilters()"><i class="fas fa-ban"></i></button>
  </div>
  <div class="col-md-3 mb-1">
    <input type="text" class="form-control" id="titleFilter" placeholder="Title" maxlength="32" value="{{filters.title}}">
  </div>
  <div class="col-md-3 mb-1">
    <input type="text" class="form-control" id="eventFilter" placeholder="Event" maxlength="32" value="{{filters.event}}">
  </div>
  <div class="col-md-3 mb-1">
    <input type="text" class="form-control" id="controlFilter" placeholder="Control" maxlength="32" value="{{filters.controluniquename}}">
  </div>
  <div class="col-md-1 mb-1">
    <button class="btn btn-outline-primary icon-btn" title="Filter events" onclick="HomeAutomation.Event.onSearch()"><i class="fas fa-search"></i></button>
  </div>
{{else}}
  <div class="col">
    <button class="btn btn-outline-primary icon-btn" title="Show filters" onclick="HomeAutomation.Event.showFilters()"><i class="fas fa-filter"></i></button>
  </div>
{{/if}}
