<div class="row mb-3">
  <div class="col-md-6">
    <label class="form-label" for="controlSelect">Control</label>
    <select class="form-select {{errors.controlSelect.errClass}}" id="controlSelect" onchange="{{view.binding}}.onControlSelect({{view.namespace}}.getSelectedValue(this))">
      {{#select controlId}}
        <option value=""></option>
        {{#each view.controls}}
          <option value="{{id}}">{{title}} ({{uniqueName}})</option>
        {{/each}}
      {{/select}}
    </select>
    <small id="controlSelectErrorHolder" class="text-danger">{{errors.controlSelect.errMsg}}</small>
  </div>

  <div class="col-md-6">
    <label class="form-label" for="eventSelect">Event</label>
    {{#if view.eventSelectionEnabled}}
      <select class="form-select {{errors.eventSelect.errClass}}" id="eventSelect" onchange="{{view.binding}}.onEventSelect({{view.namespace}}.getSelectedValue(this))">
        <option value=""></option>
        {{#select event}}
          {{#each view.events}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        {{/select}}
      </select>
    {{else}}
      <select class="form-control" id="eventSelect" disabled>
        <option value=""></option>
      </select>
    {{/if}}

    <small id="eventSelectErrorHolder" class="text-danger">{{errors.eventSelect.errMsg}}</small>
  </div>
</div>
