<div class="modal-content">
  <div class="modal-header">
    {{#if view.edit}}
      <h5 class="modal-title" id="modalLabel">Edit Event</h5>
    {{else}}
      <h5 class="modal-title" id="modalLabel">Add Event</h5>
    {{/if}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form id="addEventForm">

      <div class="mb-3">
        <label class="form-label" for="eventTitleField">Event Title:</label>
        <input type="text" class="form-control {{errors.title.errClass}}" id="eventTitleField" placeholder="Title" maxLength="30" value="{{title}}" required oninput="{{view.binding}}.onTitleInput({{view.namespace}}.getInputValue(this))">
        <small id="eventTitleErrorHolder" class="text-danger">{{errors.title.errMsg}}</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="descriptionField">Description:</label>
        <input type="text" class="form-control" id="descriptionField" placeholder="Description" maxlength="511" value="{{description}}" required oninput="{{view.binding}}.onDescriptionInput({{view.namespace}}.getInputValue(this))">
        <small id="descriptionErrorHolder" class="text-danger">
        </small>
      </div>

      <div class="form-check mb-3">
        <label class="form-check-label" for="activeField">
          Active
        </label>
        {{#if active}}
          <input type="checkbox" class="form-check-input" id="activeField" checked="checked" onchange="{{view.binding}}.onActiveInput(this)">
        {{else}}
          <input type="checkbox" class="form-check-input" id="activeField" onchange="{{view.binding}}.onActiveInput(this)">
        {{/if}}
      </div>

      {{#if view.edit}}
        <div class="mb-3">
          <div>
            <label class="form-label">Enable/Disable Actions</label>
          </div>
          <div class="mb-3">
          {{#greaterThan relatedActions.length 0}}
            <button type="button" class="btn btn-primary" onclick="HomeAutomation.Event.onGenerateActions({{id}})">Regenerate</button>
            <button type="button" class="btn btn-danger" onclick="HomeAutomation.Event.onDeleteGeneratedActions({{id}})">Delete</button>
          {{else}}
            <button type="button" class="btn btn-primary" onclick="HomeAutomation.Event.onGenerateActions({{id}})">Generate</button>
          {{/greaterThan}}
          </div>
          <div class= "text-center">
            <small id="actionGenerateErrorHolder" class="text-danger"></small>
          </div>
        </div>
      {{/if}}

      <hr>

      <h3>EVENT...</h3>

      {{> EVENT_SELECT_FORM }}

      <h3>ACTION...</h3>

      <label class="form-label" for="actionSelect">Action</label>
      <div class="input-group mb-3">
        <button class="btn icon-btn" type="button" id="actionViewBtn" {{#unless actionId}}disabled{{/unless}} onclick="HomeAutomation.Action.openViewActionSummaryModel({{actionId}})"><i class="fas fa-eye"></i></button>
        <input type="text" class="form-control {{errors.actionSelect.errClass}}" id="actionField" disabled value="{{#if view.action}}{{view.action.title}} ({{view.action.name}}) {{/if}}">
        <button class="btn icon-btn" type="button" id="actionSearchBtn" onclick="HomeAutomation.Action.onOpenActionSearchModal('{{view.actionSelectCallback}}')"><i class="fas fa-search"></i></button>
      </div>
      <div class="mb-3">
        <small id="actionSelectErrorHolder" class="text-danger">{{errors.actionSelect.errMsg}}</small>
      </div>

      <div>
        <p id="formErrorHolder" class="text-danger text-center">
          {{errors.formError}}
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Event.onAddOrUpdate({{id}})">Save</button>
    {{#if view.edit}}
      <button type="button" class="btn btn-danger" onclick="HomeAutomation.Event.onDeleteConfirmation({{id}})">Delete</button>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
