<div class="row mb-2" id="eventFilters">
  {{> EVENT_FILTER }}
</div>

<div id="event-table">
  <div class="table-responsive-sm">
    <table class="table table-sm eventTable">
      <thead>
        <tr>
          <th scope="col">Active</th>
          <th scope="col">Event Title</th>
          <th scope="col">Event</th>
          <th scope="col">Control</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each events}}
          <tr>
            <td>
              {{#if active}}
                <i class="fas fa-circle fa-2x icon me-2 activeIcon" title="Click to deactivate event." onclick="HomeAutomation.Event.onSetActive('{{id}}', false)"></i>
              {{else}}
                <i class="fas fa-circle fa-2x icon me-2 inactiveIcon" title="Click to activate event." onclick="HomeAutomation.Event.onSetActive('{{id}}', true)"></i>
              {{/if}}
            </td>
            <td>{{maxLength title 15}}</td>
            <td>{{event}}</td>
            <td>{{maxLength control.uniqueName 15}}</td>
            <td><i class="far fa-edit fa-2x icon me-2" onclick="HomeAutomation.Util.openModal(HomeAutomation.Event.openAddEditModal('{{id}}'))"></i></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
