<div class="modal-content">
  <div class="modal-header">
    {{#if view.edit}}
      <h5 class="modal-title" id="modalLabel">Edit Schedule</h5>
    {{else}}
      <h5 class="modal-title" id="modalLabel">Add Schedule</h5>
    {{/if}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form id="addEventForm">

      <div class="mb-3">
        <label class="form-label" for="scheduleNameField">Schedule Name:</label>
        <input type="text" class="form-control {{errors.name.errClass}}" id="scheduleNameField" placeholder="Name" maxLength="30" value="{{name}}" required oninput="{{view.binding}}.onNameInput({{view.namespace}}.getInputValue(this))">
        <small id="scheduleNameErrorHolder" class="text-danger">{{errors.name.errMsg}}</small>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="activeField">
          Active
        </label>
        {{#if active}}
          <input type="checkbox" class="form-check-input" id="activeField" checked="checked" onchange="{{view.binding}}.onActiveInput(this)">
        {{else}}
          <input type="checkbox" class="form-check-input" id="activeField" onchange="{{view.binding}}.onActiveInput(this)">
        {{/if}}
      </div>

      <label class="form-label" for="actionSelect">Action</label>
      <div class="input-group mb-3">
        <button class="btn icon-btn" type="button" id="actionViewBtn" {{#unless actionId}}disabled{{/unless}} onclick="HomeAutomation.Action.openViewActionSummaryModel({{actionId}})"><i class="fas fa-eye"></i></button>
        <input type="text" class="form-control {{errors.actionSelect.errClass}}" id="actionField" disabled value="{{#if view.action}}{{view.action.title}} ({{view.action.name}}) {{/if}}">
        <button class="btn icon-btn" type="button" id="actionSearchBtn" onclick="HomeAutomation.Action.onOpenActionSearchModal('{{view.actionSelectCallback}}')"><i class="fas fa-search"></i></button>
      </div>
      <div class="mb-3">
        <small id="actionSelectErrorHolder" class="text-danger">{{errors.actionSelect.errMsg}}</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="scheduleTypeSelect">Schedule Type:</label>
        <select class="form-select {{errors.typeSelect.errClass}}" id="scheduleTypeSelect" onchange="{{view.binding}}.onTypeSelect({{view.namespace}}.getSelectedValue(this))">
          {{#select type}}
            <option value=""></option>
            <option value="HOURLY">HOURLY</option>
            <option value="DAILY">DAILY</option>
            <option value="WEEKLY">WEEKLY</option>
            <option value="MONTHLY">MONTHLY</option>
            <option value="YEARLY">YEARLY</option>
            <option value="FIXED">FIXED</option>
          {{/select}}
        </select>
        <small id="scheduleTypeSelectErrorHolder" class="text-danger">{{errors.typeSelect.errMsg}}</small>
      </div>

      <hr>

      {{#if type}}
        {{> (lookup . 'type') }}
      {{/if}}

      <div>
        <p id="formErrorHolder" class="text-danger text-center">
          {{errors.formError}}
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Schedule.onAddOrUpdate({{id}})">Save</button>
    {{#if view.edit}}
      <button type="button" class="btn btn-danger" onclick="HomeAutomation.Schedule.onDeleteConfirmation({{id}})">Delete</button>
    {{/if}}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
