<div class="row mb-2" id="scheduleFilters">
  {{> SCHEDULE_FILTER }}
</div>

<div id="schedule-table">
  <div class="table-responsive-sm">
    <table class="table table-sm eventTable">
      <thead>
        <tr>
          <th scope="col">Active</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each schedules}}
          <tr>
            <td>
              {{#if active}}
                <i class="fas fa-circle fa-2x icon me-2 activeIcon" title="Click to deactivate event." onclick="HomeAutomation.Schedule.onSetActive('{{id}}', false)"></i>
              {{else}}
                <i class="fas fa-circle fa-2x icon me-2 inactiveIcon" title="Click to activate event." onclick="HomeAutomation.Schedule.onSetActive('{{id}}', true)"></i>
              {{/if}}
            </td>
            <td>{{maxLength name 15}}</td>
            <td>{{type}}</td>
            <td><i class="far fa-edit fa-2x icon me-2" onclick="HomeAutomation.Util.openModal(HomeAutomation.Schedule.openAddEditModal('{{id}}'))"></i></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
