{{#if showFilters}}
  <div class="col-md-1 mb-1 me-3">
    <button class="btn btn-outline-primary icon-btn" title="Hide filters" onclick="HomeAutomation.Schedule.hideFilters()"><i class="fas fa-ban"></i></button>
  </div>
  <div class="col-md-3 mb-1">
    <input type="text" class="form-control" id="nameFilter" placeholder="Name" maxlength="32" value="{{filters.name}}">
  </div>
  <div class="col-md-3 mb-1">
    <input type="text" class="form-control" id="typeFilter" placeholder="Type" maxlength="32" value="{{filters.type}}">
  </div>
  <div class="col-md-1 mb-1">
    <button class="btn btn-outline-primary icon-btn" title="Filter events" onclick="HomeAutomation.Schedule.onSearch()"><i class="fas fa-search"></i></button>
  </div>
{{else}}
  <div class="col">
    <button class="btn btn-outline-primary icon-btn" title="Show filters" onclick="HomeAutomation.Schedule.showFilters()"><i class="fas fa-filter"></i></button>
  </div>
{{/if}}
