<label class="form-check-label" for="checkSun">
  Days
</label>
<div>
  <small id="timeErrorHolder" class="text-danger">{{errors.days.errMsg}}</small>
</div>
<div class="form-check">
  {{#if parsedDays.sun}}
    <input class="form-check-input" type="checkbox" id="checkSun" checked oninput="{{view.binding}}.onDaysInput('sun', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkSun" oninput="{{view.binding}}.onDaysInput('sun', this)">
  {{/if}}
  <label class="form-check-label" for="checkSun">
    Sun
  </label>
</div>
<div class="form-check">
  {{#if parsedDays.mon}}
    <input class="form-check-input" type="checkbox" id="checkMon" checked oninput="{{view.binding}}.onDaysInput('mon', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkMon" oninput="{{view.binding}}.onDaysInput('mon', this)">
  {{/if}}
  <label class="form-check-label" for="checkMon">
    Mon
  </label>
</div>
<div class="form-check">
  {{#if parsedDays.tue}}
    <input class="form-check-input" type="checkbox" id="checkTue" checked oninput="{{view.binding}}.onDaysInput('tue', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkTue" oninput="{{view.binding}}.onDaysInput('tue', this)">
  {{/if}}
  <label class="form-check-label" for="checkTue">
    Tue
  </label>
</div>
<div class="form-check">
  {{#if parsedDays.wed}}
    <input class="form-check-input" type="checkbox" id="checkWed" checked oninput="{{view.binding}}.onDaysInput('wed', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkWed" oninput="{{view.binding}}.onDaysInput('wed', this)">
  {{/if}}
  <label class="form-check-label" for="checkWed">
    Wed
  </label>
</div>
<div class="form-check">
  {{#if parsedDays.thu}}
    <input class="form-check-input" type="checkbox" id="checkThu" checked oninput="{{view.binding}}.onDaysInput('thu', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkThu" oninput="{{view.binding}}.onDaysInput('thu', this)">
  {{/if}}
  <label class="form-check-label" for="checkThurs">
    Thu
  </label>
</div>
<div class="form-check">
  {{#if parsedDays.fri}}
    <input class="form-check-input" type="checkbox" id="checkFri" checked oninput="{{view.binding}}.onDaysInput('fri', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkFri" oninput="{{view.binding}}.onDaysInput('fri', this)">
  {{/if}}
  <label class="form-check-label" for="checkFri">
    Fri
  </label>
</div>
<div class="form-check mb-3">
  {{#if parsedDays.sat}}
    <input class="form-check-input" type="checkbox" id="checkSat" checked oninput="{{view.binding}}.onDaysInput('sat', this)">
  {{else}}
    <input class="form-check-input" type="checkbox" id="checkSat" oninput="{{view.binding}}.onDaysInput('sat', this)">
  {{/if}}
  <label class="form-check-label" for="checkSat">
    Sat
  </label>
</div>

<div class="mb-2">
  <label class="form-label" for="time">
    Time:
  </label>
  <input type="time" class="form-control {{errors.time.errClass}}" id="time" value="{{time}}" required oninput="{{view.binding}}.onTimeInput({{view.namespace}}.getInputValue(this))">
  <small id="timeErrorHolder" class="text-danger">{{errors.time.errMsg}}</small>
</div>
