<div class="mb-2">
  <label class="form-label" for="time">
    Time:
  </label>
  <input type="time" class="form-control {{errors.time.errClass}}" id="time" value="{{time}}" required oninput="{{view.binding}}.onTimeInput({{view.namespace}}.getInputValue(this))">
  <small id="timeErrorHolder" class="text-danger">{{errors.time.errMsg}}</small>
</div>
