<div class="mb-2">
  <label class="form-label" for="minute">
    Minute:
  </label>
  <input type="number" class="form-control {{errors.minute.errClass}}" id="minute" maxLength="2" min="0", max="59" value="{{minute}}" required oninput="{{view.binding}}.onMinuteInput({{view.namespace}}.getInputValue(this), 59)">
  <small id="minuteErrorHolder" class="text-danger">{{errors.minute.errMsg}}</small>
</div>
