{{#if loading}}
  <p><img class="loading-gif" src="Resources/Images/loading-white.gif"></p>
{{/if}}
{{#if success}}
  <p class="text-success">Running</p>
{{/if}}
{{#if fail}}
  <p class="text-danger">Failed to connect</p>
{{/if}}
