<div class="mb-2">
  <label class="form-label" for="date">
    Date:
  </label>
  <input type="date" class="form-control {{errors.date.errClass}}" id="date" value="{{date}}" required oninput="{{view.binding}}.onDateInput({{view.namespace}}.getInputValue(this))">
  <small id="dateErrorHolder" class="text-danger">{{errors.date.errMsg}}</small>
</div>

<div class="mb-2">
  <label class="form-label" for="time">
    Time:
  </label>
  <input type="time" class="form-control {{errors.time.errClass}}" id="time" value="{{time}}" required oninput="{{view.binding}}.onTimeInput({{view.namespace}}.getInputValue(this))">
  <small id="timeErrorHolder" class="text-danger">{{errors.time.errMsg}}</small>
</div>
