<div class="mb-2">
  <label class="form-label" for="day">
    Day:
  </label>
  <input type="number" class="form-control {{errors.day.errClass}}" id="day" min="1" max="366" value="{{day}}" oninput="{{view.binding}}.onDayInput({{view.namespace}}.getInputValue(this), 366)">
  <small id="dayErrorHolder" class="text-danger">{{errors.day.errMsg}}</small>
</div>

<div class="mb-2">
  <label class="form-label" for="time">
    Time:
  </label>
  <input type="time" class="form-control {{errors.time.errClass}}" id="time" value="{{time}}" required oninput="{{view.binding}}.onTimeInput({{view.namespace}}.getInputValue(this))">
  <small id="timeErrorHolder" class="text-danger">{{errors.time.errMsg}}</small>
</div>
