<div class="modal-content">
  {{> CONTROL_ADD_EDIT_HEADER }}

  <div class="modal-body">

    {{> CONTROL_ADD_EDIT_MAIN }}

    {{#if template}}
      {{> (lookup . 'template') }}
    {{/if}}

      <div>
        <p id="formErrorHolder" class="text-danger text-center">
        </p>
      </div>

  </div>

  {{> CONTROL_ADD_EDIT_FOOTER }}
</div>
