<div class="row mb-2" id="controlFilters">
  {{> CONTROL_FILTER }}
</div>

<div class="table-responsive-sm">
  <table class="table table-sm eventTable">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each controls}}
        <tr>
          <td>{{maxLength title 15}}</td>
          <td>{{maxLength uniqueName 15}}</td>
          <td><i class="fas fa-arrow-right fa-2x icon" onclick="HomeAutomation.Control.Search.onControlSelect({{id}})"></i></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#if error}}
  <div>
    <small>{{error}}</small>
  </div>
{{/if}}
