<div class="modal-header">
  {{#ifEquals view.modalType 'add'}}
    <h5 class="modal-title" id="modalLabel">Add Control</h5>
  {{/ifEquals}}
  {{#ifEquals view.modalType 'edit'}}
    <h5 class="modal-title" id="modalLabel">Edit Control</h5>
  {{/ifEquals}}
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
