<div class="row">
  <div class="col-md-12 mb-2">
    <input type="button" id="addEvent" class="btn btn-outline-primary white-button form-x-button" onclick="HomeAutomation.Control.getControlModelTypeObject().getEventListObject().addEvent(); HomeAutomation.Control.getControlModel().render();"
      value="+" />
  </div>
  {{#each eventList.list}}
    <div class="row mb-2">
      <div class="col-md-8 me-2">
        <input type="text" class="form-control" id="eventName-{{id}}" placeholder="Event" maxlength="20" value="{{name}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getEventListObject().updateEvent({{id}}, this)"
          required>
        <small id="eventNameErrorHolder-{{id}}" class="text-danger"></small>
      </div>
      <div class="col-md-1">
        <input type="button" id="removeEvent-{{id}}" class="btn btn-outline-primary white-button form-x-button float-end" onclick="HomeAutomation.Control.getControlModelTypeObject().getEventListObject().findAndRemoveEvent({{id}}); HomeAutomation.Control.getControlModel().render();"
          value="X" />
      </div>
    </div>
  {{/each}}
</div>
