<div class="list-group">

  <div class="row mb-2">
    <div class="col-12">
      {{#if listOrderToggle}}
        <button class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="HomeAutomation.Control.getListOrderThenSave()"><i class="fas fa-save"></i> Save Order</i></button>
      {{else}}
        <button class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="HomeAutomation.Control.onReorderListButtonActivate()"><i class="fas fa-sort"></i></button>
      {{/if}}
    </div>
  </div>

  <ul id="sortableControlList" class="list-group">

    {{#each controls}}
      <li id="control-{{id}}" class="list-group-item list-group-item-action align-items-start">
        {{> (lookup . 'editTemplate') }}
      </li>
    {{/each}}

  </ul>

</div>
