<div class="modal-footer">
  {{#ifEquals view.modalType 'add'}}
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Control.onAddOrUpdate({{loadedTopicId}}, '')">Add Control</button>
  {{/ifEquals}}
  {{#ifEquals view.modalType 'edit'}}
    <button type="button" class="btn btn-danger" onclick="HomeAutomation.Control.onDeleteConfirmation({{loadedTopicId}},{{data.id}})">Delete</button>
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Control.onAddOrUpdate({{loadedTopicId}},{{data.id}})">Save</button>
  {{/ifEquals}}
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
