<div class="row">
  <div class="col-md-8 mb-1">
    <select class="form-select" id="controlSearchTopicSelect">
      {{#select filters.selectedTopicId}}
        {{#each filters.topics}}
          <option value="{{id}}">{{topicTitle}} ({{topic}})</option>
        {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="col-md-2 mb-1">
    <button class="btn btn-outline-primary icon-btn" title="Filter events" onclick="HomeAutomation.Control.Search.onSearch()"><i class="fas fa-search"></i></button>
  </div>
</div>
