<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Set Timer</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="row justify-content-center">

    <form id="setTimerForm">

      <div class="input-group mb-3">
        <input type="number" class="form-control form-control-lg" id="timerHourField" placeholder="HH" maxLength="2" size="2" required>
        <span class="input-group-text">:</span>
        <input type="number" class="form-control form-control-lg" id="timerMinuteField" placeholder="MM" maxLength="2" size="2" required>
      </div>
      <small id="timerErrorHolder" class="text-danger">
      </small>

      <div>
        <p id="setTimerErrorHolder" class="text-danger text-center">
        </p>
      </div>
    </form>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" onclick="HomeAutomation.Control.Timer.setTimer('{{controlId}}')">Start Timer</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
