<div class="row">
  <div class="form-group col-md-12">
    <input type="button" id="addStatus-" class="btn btn-outline-primary white-button form-x-button" onclick="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().addStatusEntry(); HomeAutomation.Control.getControlModel().render();"
      value="+" />
  </div>
</div>

<div class="mb-2">
  <p id="controlSensorEntryErrorHolder" class="text-danger text-center">
    {{statusList.error}}
  </p>
</div>

<div>
  {{#each statusList.entries}}
    <div class="row mb-2">
      <div class="col-5">
        <input type="text" {{#unless editable}} disabled {{/unless}} class="form-control" id="statusTitle-{{id}}" placeholder="Name" maxlength="20" value="{{title}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().updateStatusListEntry('title', {{id}}, this)"
          required>
        <small id="statusTitleErrorHolder-{{id}}" class="text-danger"></small>
      </div>
      <div class="col-5">
        <input type="text" {{#unless editable}} disabled {{/unless}} class="form-control" id="status-{{id}}" placeholder="Key" maxlength="20" value="{{status}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().updateStatusListEntry('status', {{id}}, this)"
          required>
        <small id="statusErrorHolder-{{id}}" class="text-danger"></small>
      </div>
      {{#if editable}}
        <div class="col-2">
          <input type="button" id="removeStatus-{{id}}" class="btn btn-outline-primary white-button form-x-button float-end" onclick="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().findAndRemoveStatusEntry({{id}}); HomeAutomation.Control.getControlModel().render();"
            value="X" />
        </div>
      {{/if}}
    </div>

    {{#if editable}}
      <div class="row mb-4">

        <div class="col-5">
          <input type="text" class="form-control" id="statusFormatted-{{id}}" placeholder="Formatter" maxlength="20" value="{{formatter}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().updateStatusListEntry('formatter', {{id}}, this)">
        </div>

        <div class="form-check col-4">
        <label class="form-check-label" for="showStatus-{{id}}">Display</label>
          {{#if display}}
              <input type="checkbox" class="form-check-input" id="showStatus-{{id}}" checked onchange="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().updateStatusListEntry('display', {{id}}, this)">
          {{else}}
              <input type="checkbox" class="form-check-input" id="showStatus-{{id}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getStatusListObject().updateStatusListEntry('display', {{id}}, this)">
          {{/if}}
        </div>

      </div>
    {{/if}}
  {{/each}}

</div>
