<div class="list-group">

  {{#each controls}}
    {{#if active}}
      <div id="control-{{id}}" class="list-group-item list-group-item-action align-items-start">
        {{> (lookup . 'type') }}
      </div>
    {{/if}}
  {{/each}}

</div>
