<form id="addControlForm">

  <div class="mb-3">
    <label class="form-label" for="controlTitleField">Control Title:</label>
    <input type="text" class="form-control" id="controlTitleField" placeholder="Control Title" maxLength="127" value="{{data.title}}" onchange="HomeAutomation.Control.getControlModel().onControlFieldChange('title', this)" required>
    <small id="controlTitleFieldErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="mb-3">
    <label class="form-label" for="controlNameField">Unique Control Name:</label>
    <input type="text" class="form-control" id="controlNameField" placeholder="Control Name" maxLength="127" value="{{data.uniqueName}}" onchange="HomeAutomation.Control.getControlModel().onControlFieldChange('uniqueName', this)" required>
    <small id="controlNameFieldErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="mb-3">
    <label class="form-label" for="descriptionField">
      Description:
    </label>
    <input type="text" class="form-control" id="descriptionField" placeholder="Description" maxlength="511" value="{{data.description}}" onchange="HomeAutomation.Control.getControlModel().onControlFieldChange('description', this)" required>
    <small id="descriptionFieldErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="form-check mb-3">
    <label class="form-check-label" for="activeField">Active</label>
    {{#if data.active}}
      <input type="checkbox" class="form-check-input" id="activeField" checked="checked" onchange="HomeAutomation.Control.getControlModel().onControlActiveSelectChange(this)">
    {{else}}
      <input type="checkbox" class="form-check-input" id="activeField" onchange="HomeAutomation.Control.getControlModel().onControlActiveSelectChange(this)">
    {{/if}}
  </div>

  <div class="mb-3">
    <label class="form-label" for="controlTypeSelect">Control Type:</label>
    <select class="form-select" id="controlTypeSelect" {{#ifEquals view.modalType 'edit'}}disabled{{/ifEquals}} onchange="HomeAutomation.Control.getControlModel().onControlTypeSelectChange(this); HomeAutomation.Control.getControlModel().render();">
      {{#select data.type}}
        <option value=""></option>
        <option value="SWITCH">Switch</option>
        <option value="SENSOR">Sensor</option>
        <option value="LED_CONTROLLER">LED Controller</option>
      {{/select}}
    </select>
    <small id="controlTypeSelectErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="mb-3">
    <label class="form-label" for="brokerField">Broker:</label>
    <div class="input-group">
      <span class="input-group-text">tcp://</span>
      <input type="text" class="form-control" id="brokerField" placeholder="Broker" maxlength="127" value="{{data.broker}}" onchange="HomeAutomation.Control.getControlModel().onControlFieldChange('broker', this)" required>
    </div>
    <small id="brokerFieldErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label class="form-label" for="topicSelect">Topic:</label>
      <select class="form-select" id="topicSelect" onchange="HomeAutomation.Control.getControlModel().onControlTopicSelectChange(this)">
        {{#select loadedTopicId}}
          {{#each view.topics}}
            <option value="{{id}}">{{topicTitle}} ({{topic}})</option>
          {{/each}}
        {{/select}}
      </select>
      <small id="topicSelectErrorHolder" class="text-danger">
      </small>
    </div>

    <div class="col-md-6">
      <label class="form-label" for="subTopicField">Subtopic:</label>
      <input type="text" class="form-control" id="subTopicField" placeholder="Subtopic" maxlength="127" value="{{data.subtopic}}" onchange="HomeAutomation.Control.getControlModel().onControlFieldChange('subtopic', this)" required>
      <small id="subTopicFieldErrorHolder" class="text-danger">
      </small>
    </div>
  </div>

</form>
