<hr>
<form>
  <div class="form-check mb-3">
    <label class="form-check-label" for="persistStateField">Persist State</label>
    {{#if data.persistState}}
      <input type="checkbox" class="form-check-input" id="persistStateField" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getSwitchObject().onControlPersistSelectChange(this)">
    {{else}}
      <input type="checkbox" class="form-check-input" id="persistStateField" onchange="HomeAutomation.Control.getControlModelTypeObject().getSwitchObject().onControlPersistSelectChange(this)">
    {{/if}}
  </div>
</form>
