<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">Control Search</h5>
    <button type="button" class="btn-close btn-close-white" onclick="HomeAutomation.Util.closeModal()"></button>
  </div>

  <div class="modal-body">

    <div id="controls-search-list-holder">
      {{> CONTROL_SEARCH_LIST }}
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="HomeAutomation.Util.closeModal()">Close</button>
  </div>
</div>
