{{> CONTROL_ADD_EDIT_PERSIST }}
<hr>
<div class="accordion" id="switchSections">
  <div class="accordion-item">
    <h2 class="accordion-header" id="statusList-Header">
      <button class="accordion-button collapsed" id="statusList" type="button" data-bs-toggle="collapse" data-bs-target="#statusList-Section" aria-controls="statusList-Section">
        Status List
      </button>
    </h2>
    <div id="statusList-Section" class="accordion-collapse collapse" aria-labelledby="statusList-Header" data-bs-parent="#switchSections">
      <div class="accordion-body">
        {{> STATUS_LIST_BUILDER }}
      </div>
    </div>
  </div>
</div>
