<!-- Slider toggle switch -->
<div class="row mb-2">

  <div class="justify-content-between col-12">
    <h5 class="mb-1">{{title}}</h5>
  </div>
</div>

<div class="row mb-2">
  <div class="col-3 float-left">
    <i class="fas fa-sync-alt icon-one-half-size icon icon-refresh" onclick="HomeAutomation.Control.Action.refreshControl({{id}})"></i>
  </div>

  <div class="col-6">

    {{#if loaded}}
      <img class="loading-gif invisible" src="Resources/Images/loading.gif">
      <div>
        <label class="switch">
          {{#ifEquals currentState.relay 0}}
            <input id="switch-{{id}}" type="checkbox" onclick="HomeAutomation.Control.Switch.toggleSwitchOn({{id}}, -1)">
          {{else}}
            <input id="switch-{{id}}" type="checkbox" onclick="HomeAutomation.Control.Switch.toggleSwitchOff({{id}})" checked>
          {{/ifEquals}}
          <span class="slider"></span>
        </label>
      </div>
    {{else}}
      <img class="loading-gif" src="Resources/Images/loading-white.gif">
    {{/if}}

  </div>

  <div class="col-3 float-right">
    {{#if isError}}
      <i class="fas fa-exclamation-triangle icon-one-half-size icon icon-error" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.Action.openControlErrorModal('Error With Switch', '{{currentState.error}}'))"></i>
    {{else}}
      <i class="fas fa-exclamation-triangle icon-one-half-size icon icon-error invisible"></i>
    {{/if}}
  </div>
</div>

{{#ifEquals loaded 1}}
  <div class="row justify-content-center">
    <i class="far fa-clock icon-one-half-size icon " onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.Timer.openTimerSetModal({{id}}))"></i>
    <p class="ml-1" id="timer-{{id}}">{{duration}}</p>
  </div>
{{/ifEquals}}
