<div class="modal-content">
  <div class="modal-header">
    {{#if view.edit}}
      <h5 class="modal-title" id="modalLabel">Edit Topic</h5>
    {{else}}
      <h5 class="modal-title" id="modalLabel">Add New Topic</h5>
    {{/if}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  <div class="modal-body">

    <form id="editTopicForm">

      <div class="mb-3">
        <label class="form-label" for="topicTitleField">Topic Title:</label>
        <input type="text" class="form-control" id="topicTitleField" placeholder="Topic Title" maxLength="127" value="{{topic.topicTitle}}" required>
        <small id="topicTitleErrorHolder" class="text-danger">
        </small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="topicNameField">Topic Name:</label>
        <input type="text" class="form-control" id="topicNameField" placeholder="Topic Name" maxlength="127" value="{{topic.topic}}" required>
        <small id="topicNameErrorHolder" class="text-danger">
        </small>
      </div>

      <div class="form-check">
        <label class="form-check-label" for="activeField">
          Active
        </label>
        {{#if topic.active}}
          <input type="checkbox" class="form-check-input" id="activeField" checked="checked">
        {{else}}
          <input type="checkbox" class="form-check-input" id="activeField">
        {{/if}}
      </div>

      <div>
        <p id="formErrorHolder" class="text-danger text-center">
        </p>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick="HomeAutomation.Topic.displayDeleteConfirmation({{topic.id}})">Delete</button>
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Topic.onAddOrUpdate({{topic.id}})">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
