<div id="topic-list">

  <div class="row mb-2">
    <div class="col-12">
      {{#if listOrderToggle}}
        <button class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="HomeAutomation.Topic.getTopicListOrderThenSave()"><i class="fas fa-save"></i> Save Order</i></button>
      {{else}}
        <button class="btn btn-outline-primary icon-btn" title="Toggle List Reordering Mode" onclick="HomeAutomation.Topic.onReorderListButtonActivate()"><i class="fas fa-sort"></i></button>
      {{/if}}
    </div>
  </div>

  <ul id="sortableTopicList" class="list-group">

    {{#each topics}}
      <li id="topic-{{id}}" class="list-group-item list-group-item-action align-items-start">
        <div class="row">

          <div class="col-2 float-end">
            <i class="far fa-edit fa-2x icon me-2" title="Edit Topic" onclick="HomeAutomation.Util.openModal(HomeAutomation.Topic.openAddEditModal('{{id}}'))"></i>
          </div>
          <div class="col-8">
            {{#if active}}
              <h1 class="mb-1 list-title">{{topicTitle}}</h1>
            {{else}}
              <h1 class="mb-1 list-title-inactive" title="Topic is Inactive">{{topicTitle}}</h1>
            {{/if}}
          </div>
          <div class="col-2 float-start">
            <a class="fas fa-chevron-right fa-2x icon me-2" title="Edit Topic Controls" href="{{../rootURL}}/topic/controls/{{id}}?topic={{topicTitle}}"></a>
          </div>

        </div>
      </li>
    {{/each}}

  </ul>
</div>
