<div id="topic-list" class="list-group p-2">
  {{#each topics}}
    {{#if active}}
      <a href="{{../rootURL}}/topic/show/{{id}}?topic={{topicTitle}}" class="list-group-item list-group-item-action p-3">{{topicTitle}} &#187;</a>
    {{/if}}
  {{/each}}
</div>
