<hr>
<div class="accordion" id="statusSection">
  <div class="accordion-item">
    <h2 class="accordion-header" id="statusList-Header">
      <button class="accordion-button collapsed" id="statusList" type="button" data-bs-toggle="collapse" data-bs-target="#statusList-Section" aria-controls="statusList-Section">
        Status List
      </button>
    </h2>
    <div id="statusList-Section" class="accordion-collapse collapse" aria-labelledby="statusList-Header" data-bs-parent="#statusSection">
      <div class="accordion-body">
        {{> STATUS_LIST_BUILDER }}
      </div>
    </div>
  </div>
</div>
<div class="accordion" id="accordionSection">
  <div class="accordion-item">
    <h2 class="accordion-header" id="eventList-Header">
      <button class="accordion-button collapsed" id="eventList" type="button" data-bs-toggle="collapse" data-bs-target="#eventList-Section" aria-controls="eventList-Section">
        Events
      </button>
    </h2>
    <div id="eventList-Section" class="accordion-collapse collapse" aria-labelledby="eventList-Header" data-bs-parent="#accordionSection">
      <div class="accordion-body">
        {{> EVENT_LIST_BUILDER }}
      </div>
    </div>
  </div>
</div>
