<div class="row mb-2">
  <div class="justify-content-between col-12">
    {{> CONTROL_EDIT_TITLE}}
  </div>
</div>

<div class="row mb-2">
  <div class="col-3 float-left">
  </div>

  <div class="col-6">
    <h4 class="status-text">74 &#8457;</h4>
  </div>

  <div class="col-3 float-right">
    <i class="far fa-edit fa-2x icon" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.openAddEditModal('{{topic.id}}', '{{id}}'))"></i>
  </div>

</div>
