<div class="row">

  <div class="justify-content-between col-12 mb-1">
    <h5 class="mb-1">{{title}}</h5>
  </div>

  <div class="col-3 float-left">
    <i class="fas fa-sync-alt icon-one-half-size icon icon-refresh" onclick="HomeAutomation.Control.Action.refreshControl({{id}})"></i>
  </div>

  <div class="col-6">

    {{#if loaded}}
      <img class="loading-gif invisible" src="Resources/Images/loading.gif">
    {{else}}
      <img class="loading-gif" src="Resources/Images/loading-white.gif">
    {{/if}}

    {{#each formattedStatusList}}
      <div>
        <p class="status-text">{{title}}:</p>
        <p class="status-text">{{{formatter}}}</p>
      </div>
    {{/each}}

  </div>

  <div class="col-3 float-right">
    {{#if isError}}
      <i class="fas fa-exclamation-triangle icon-one-half-size icon icon-error" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.Action.openControlErrorModal('Error With Status', '{{currentState.error}}'))"></i>
    {{else}}
      <i class="fas fa-exclamation-triangle icon-one-half-size icon icon-error invisible"></i>
    {{/if}}
  </div>
</div>
