<div class="list-group">

  {{#each actionbuttons}}
    <div id="scenario-{{id}}" class="list-group-item list-group-item-action align-items-start">
      <div class="row">
        <div class="col-3 float-start">
          <i class="{{icon}} icon"></i>
        </div>
        <div class="col-6">
          <p class="mb-1 list-title">{{title}}</p>
        </div>
        <div class="col-3 float-end">
          <i class="far fa-edit fa-2x icon me-2" onclick="HomeAutomation.Util.openModal(HomeAutomation.Action.Button.openAddEditModal('{{id}}'))"></i>
        </div>
      </div>
    </div>
  {{/each}}
</div>
