<div class="row">
  {{#each scenarios}}
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn scenario-button" onclick="HomeAutomation.Action.Button.onActionButtonPress('{{id}}')"><i class="{{icon}}"></i><br>{{title}}</button>
    </div>
  {{/each}}
</div>
