<div class="modal-content">
  <div class="modal-header">
    {{#if view.edit}}
      <h5 class="modal-title" id="modalLabel">Edit Action Button</h5>
    {{else}}
      <h5 class="modal-title" id="modalLabel">Add Action Button</h5>
    {{/if}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form id="editScenarioForm">

      <div class="mb-3">
        <label class="form-label" for="actionButtonTitleField">Button Title:</label>
        <input type="text" class="form-control {{errors.title.errClass}}" id="actionButtonTitleField" placeholder="Button Title" maxLength="127" value="{{title}}" required oninput="{{view.binding}}.onTitleInput({{view.namespace}}.getInputValue(this))">
        <small id="actionButtonTitleErrorHolder" class="text-danger">{{errors.title.errMsg}}</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="topicSelect">Topic</label>
        <select class="form-select {{errors.topic.errClass}}" id="topicSelect" onchange="{{view.binding}}.onTopicSelect({{view.namespace}}.getSelectedValue(this))">
          {{#select topicId}}
            <option value=""></option>
            <option value="-1">Dashboard</option>
            {{#each view.topics}}
              <option value="{{id}}">{{topicTitle}}</option>
            {{/each}}
          {{/select}}
        </select>
        <small id="topicErrorHolder" class="text-danger">{{errors.topic.errMsg}}</small>
      </div>

      <label class="form-label" for="actionSelect">Action</label>
      <div class="input-group mb-3">
        <button class="btn icon-btn" type="button" id="actionViewBtn" {{#unless actionId}}disabled{{/unless}} onclick="HomeAutomation.Action.openViewActionSummaryModel({{actionId}})"><i class="fas fa-eye"></i></button>
        <input type="text" class="form-control {{errors.action.errClass}}" id="actionField" disabled value="{{#if view.action}}{{view.action.title}} ({{view.action.name}}) {{/if}}">
        <button class="btn icon-btn" type="button" id="actionSearchBtn" onclick="HomeAutomation.Action.onOpenActionSearchModal('{{view.actionSelectCallback}}')"><i class="fas fa-search"></i></button>
      </div>
      <div class="mb-3">
        <small id="actionSelectErrorHolder" class="text-danger">{{errors.action.errMsg}}</small>
      </div>

      <div class="mb-3">
        <label class="form-label" for="iconSelect">Icon</label>
        <select class="form-select {{errors.icon.errClass}}" id="iconSelect" onchange="{{view.binding}}.onIconSelect({{view.namespace}}.getSelectedValue(this))">
          {{#select icon}}
            <option value=""></option>
            <option value="fas fa-lightbulb fa-2x">Lightbulb</option>
            <option value="fas fa-circle-notch fa-2x">Notch</option>
            <option value="far fa-dot-circle fa-2x">Circle</option>
            <option value="fas fa-power-off fa-2x">Power Button</option>
            <option value="fas fa-plug fa-2x">Plug</option>
            <option value="fas fa-couch fa-2x">Couch</option>
            <option value="fas fa-bed fa-2x">Bed</option>
            <option value="fas fa-toilet fa-2x">Toilet</option>
            <option value="fas fa-faucet fa-2x">Faucet</option>
            <option value="fas fa-coffee fa-2x">Coffee</option>
          {{/select}}
        </select>
        <small id="iconErrorHolder" class="text-danger">{{errors.icon.errMsg}}</small>
      </div>

      <div class="text-center" id="iconPreviewer">
        {{#if icon}}
          <i class="{{icon}}"></i>
        {{else}}
          <i class="fas fa-lightbulb fa-2x"></i>
        {{/if}}
      </div>

      <div class="mb-3">
        <label class="form-label" for="descriptionField">Description:</label>
        <input type="text" class="form-control" id="descriptionField" placeholder="Description" maxlength="511" value="{{description}}" required oninput="{{view.binding}}.onDescriptionInput({{view.namespace}}.getInputValue(this))">
        <small id="descriptionErrorHolder" class="text-danger">
        </small>
      </div>

      <div>
        <p id="formErrorHolder" class="text-danger text-center">
          {{errors.formError}}
        </p>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    {{#if view.edit}}
      <button type="button" class="btn btn-danger" onclick="HomeAutomation.Action.Button.onDeleteConfirmation({{id}})">Delete</button>
    {{/if}}
    <button type="button" class="btn btn-primary" onclick="HomeAutomation.Action.Button.onAddOrUpdate({{id}})">Save</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</div>
