<div class="row">
  <div class="col-md-6">
    <a href="{{rootURL}}/user/settings"><button type="button" class="btn-outline-primary btn settings-button icon-btn"><i class="fas fa-users fa-2x"></i><br>Users</button></a>
  </div>
  <div class="col-md-6">
    <a href="{{rootURL}}/topic/settings"><button type="button" class="btn-outline-primary btn settings-button icon-btn"><i class="fas fa-sliders-h fa-2x"></i><br>Topics<br>and Controls</button></a>
  </div>
  <div class="col-md-6">
    <a href="{{rootURL}}/action/settings"><button type="button" class="btn-outline-primary btn settings-button icon-btn"><i class="fas fa-exclamation-circle fa-2x"></i></i><br>Actions</button></a>
  </div>
  <div class="col-md-6">
    <a href="{{rootURL}}/event/settings"><button type="button" class="btn-outline-primary btn settings-button icon-btn"><i class="fas fa-cog fa-2x"></i><br>Events</button></a>
  </div>
  <div class="col-md-6">
    <a href="{{rootURL}}/scheduler/settings"><button type="button" class="btn-outline-primary btn settings-button icon-btn"><i class="fas fa-calendar-alt fa-2x"></i><br>Scheduling</button></a>
  </div>
</div>
