<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">{{header}}</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  {{message}}

  <div>
    <p id="deleteErrorHolder" class="text-danger text-center">
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="{{callback}}">Confirm</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
