<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modalLabel">{{header}}</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>{{{details}}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" onclick="HomeAutomation.Util.closeModal()">Close</button>
  </div>
</div>
