<div class="modal-content">
  <div class="modal-content" id="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modalLabel">Loading...</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row text-center">
        <div class="col-sm-12">
          <img class="loading-gif" src="Resources/Images/loading-white.gif">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
