<div id="toast-{{id}}" class="toast fade bg-{{type}}">
  <div class="toast-header">
    <strong class="me-auto"><i class="bi-globe"></i> {{header}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body">
      {{message}}
  </div>
</div>
