{{> CONTROL_ADD_EDIT_PERSIST }}

<form>
<!-- LED Modes -->
<div class="row">

  <div class="col-12">
    <hr>
  </div>

  {{#unless led.rgb.enabled}}
  <div class="col-3">
    <div class="form-check">
      <label class="form-check-label" for="led-rgb-checkbox">RGB</label>
      <input type="checkbox" class="form-check-input" id="led-rgb-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('rgb', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>
  {{/unless}}
  {{#unless led.tunable.enabled}}
  <div class="col-3">
    <div class="form-check">
      <label class="form-check-label" for="led-tunable-checkbox">Tunable</label>
      <input type="checkbox" class="form-check-input" id="led-tunable-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('tunable', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>
  {{/unless}}
  {{#unless led.ww.enabled}}
  <div class="col-3">
    <div class="form-check">
      <label class="form-check-label" for="led-ww-checkbox">WW</label>
      <input type="checkbox" class="form-check-input" id="led-ww-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('ww', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>
  {{/unless}}
  {{#unless led.cw.enabled}}
  <div class="col-3">
    <div class="form-check">
      <label class="form-check-label" for="led-cw-checkbox">CW</label>
      <input type="checkbox" class="form-check-input" id="led-cw-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('cw', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>
  {{/unless}}

  <div class="col-12">
    <hr>
  </div>
</div>

<!-- Checked LED mode details -->
{{#if led.rgb.enabled}}
  <div class="row">

    <div class="col-12 text-center">
      <p>RGB:</p>
    </div>

    <div class="col-6">
      <div class="form-check">
        <label class="form-check-label" for="led-rgb-checkbox">Enabled</label>
        <input type="checkbox" class="form-check-input" id="led-rgb-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('rgb', this); HomeAutomation.Control.getControlModel().render();">
      </div>
    </div>

    <div class="col-6">
      <div class="form-check">
        <label class="form-check-label" for="led-brightness-checkbox">Brightness</label>
        {{#if led.rgb.brightness}}
          <input type="checkbox" class="form-check-input" id="led-brightness-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('rgb', 'brightness', this)">
        {{else}}
          <input type="checkbox" class="form-check-input" id="led-brightness-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('rgb', 'brightness', this)">
        {{/if}}
      </div>
    </div>

    <div class="col-12">
      <hr>
    </div>
  </div>

{{/if}}

{{#if led.tunable.enabled}}
<div class="row">

  <div class="col-12 text-center">
    <p>Tunable:</p>
  </div>

  <div class="col-6">
    <div class="form-check">
      <label class="form-check-label" for="led-tunable-checkbox">Enabled</label>
      <input type="checkbox" class="form-check-input" id="led-tunable-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('tunable', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>

  <div class="col-6">
    <div class="form-check">
      <label class="form-check-label" for="led-tunable-brightness-checkbox">Brightness</label>
      {{#if led.tunable.brightness}}
        <input type="checkbox" class="form-check-input" id="led-tunable-brightness-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('tunable', 'brightness', this)">
      {{else}}
        <input type="checkbox" class="form-check-input" id="led-tunable-brightness-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('tunable', 'brightness', this)">
      {{/if}}
    </div>
  </div>

</div>

<div class="row">

  <div class="col-6">
    <label class="form-label" for="tunable-min-temp">Min Temp:</label>
    <input type="number" class="form-control" id="tunable-min-temp" placeholder="Temp Min" min="0" max="12000" value="{{led.tunable.minTemp}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('tunable', 'minTemp', this)">
    <small id="tunableMinTempErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="col-6">
    <label class="form-label" for="tunable-max-temp">Max Temp:</label>
    <input type="number" class="form-control" id="tunable-max-temp" placeholder="Temp Max" min="0" max="12000" value="{{led.tunable.maxTemp}}" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('tunable', 'maxTemp', this)">
    <small id="tunableMaxTempErrorHolder" class="text-danger">
    </small>
  </div>

  <div class="col-12">
    <hr>
  </div>
</div>

{{/if}}

{{#if led.ww.enabled}}
<div class="row">

  <div class="col-12 text-center">
    <p>Warm White:</p>
  </div>

  <div class="col-6">
    <div class="form-check">
      <label class="form-check-label" for="led-ww-checkbox">Enabled</label>
      <input type="checkbox" class="form-check-input" id="led-ww-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('ww', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>

  <div class="col-6">
    <div class="form-check">
      <label class="form-check-label" for="led-ww-brightness-checkbox">Brightness</label>
      {{#if led.ww.brightness}}
        <input type="checkbox" class="form-check-input" id="led-ww-brightness-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('ww', 'brightness', this)">
      {{else}}
        <input type="checkbox" class="form-check-input" id="led-ww-brightness-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('ww', 'brightness', this)">
      {{/if}}
    </div>
  </div>

  <div class="col-12">
    <hr>
  </div>
</div>

{{/if}}

{{#if led.cw.enabled}}
<div class="row">

  <div class="col-12 text-center">
    <p>Cool White:</p>
  </div>

  <div class="col-6">
    <div class="form-check">
      <label class="form-check-label" for="led-cw-checkbox">Enabled</label>
      <input type="checkbox" class="form-check-input" id="led-cw-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDMode('cw', this); HomeAutomation.Control.getControlModel().render();">
    </div>
  </div>

  <div class="col-6">
    <div class="form-check">
      <label class="form-check-label" for="led-cw-brightness-checkbox">Brightness</label>
      {{#if led.cw.brightness}}
        <input type="checkbox" class="form-check-input" id="led-cw-brightness-checkbox" checked="checked" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('cw', 'brightness', this)">
      {{else}}
        <input type="checkbox" class="form-check-input" id="led-cw-brightness-checkbox" onchange="HomeAutomation.Control.getControlModelTypeObject().getLEDControllerObject().selectLEDOption('cw', 'brightness', this)">
      {{/if}}
    </div>
  </div>

  <div class="col-12">
    <hr>
  </div>

</div>

{{/if}}

</form>
