<div class="row">
  <div class="justify-content-between col-12 mb-1">
    <h5 class="mb-1">{{title}}</h5>
  </div>
</div>

<div class="row mb-2">

  <div class="col-3 float-left">
    <i class="fas fa-sync-alt icon-one-half-size icon icon-refresh" onclick="HomeAutomation.Control.Action.refreshControl({{id}})"></i>
  </div>

  <div class="col-6">

    <img class="loading-gif invisible" src="Resources/Images/loading.gif">
    {{#if loaded}}
      {{#each led.modeList}}
        <div class="mb-2">
          <div>
            {{title}}
          </div>
          <div class="mb-2">
            <label class="switch">
              {{#if on}}
                <input id="switch-{{../id}}-{{mode}}" type="checkbox" onclick="HomeAutomation.Control.LEDController.toggleSwitchOff({{../id}}, '{{mode}}')" checked>
              {{else}}
                <input id="switch-{{../id}}-{{mode}}" type="checkbox" onclick="HomeAutomation.Control.LEDController.toggleSwitchOn({{../id}}, '{{mode}}')">
              {{/if}}
              <span class="slider"></span>
            </label>
          </div>

          <div class="row">
            <div class="col">
              <i class="far fa-clock icon-one-half-size icon float-end" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.Timer.openTimerSetModal('{{../id}}-{{mode}}'))"></i>
            </div>
            <div class="col">
              <i class="fas fa-sliders-h icon-one-half-size icon float-start" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.getLoadedControlsListControl({{../id}}).getControlObject().openLEDSetModal('{{mode}}'))"></i>
            </div>
          </div>
          <div class="row">
            <p class="ml-1 me-2" id="timer-{{../id}}-{{mode}}">{{duration}}</p>
          </div>
        </div>

      {{/each}}
    {{else}}
      <img class="loading-gif" src="Resources/Images/loading-white.gif">
    {{/if}}
  </div>

  <div class="col-3 float-end">
    {{#if isError}}
      <i class="fas fa-exclamation-triangle icon-one-half-size icon icon-error" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.Action.openControlErrorModal('Error With Switch', '{{statusJSON.error}}'))"></i>
    {{else}}
      <i class="fas fa-exclamation-triangle icon-one-half-size icon icon-error invisible"></i>
    {{/if}}
  </div>
</div>
