
<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">LED Settings</h5>
  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">

  {{#ifEquals mode 'rgb'}}
  <div class="row text-center">
    <div class="col-12 d-flex justify-content-center">
      <p>Color</p>
    </div>
    <div class="col-12 d-flex justify-content-center mb-2" id="picker-color">
    </div>
    <div class="col-12 d-flex justify-content-center">
      <p id="picker-color-value"></p>
    </div>
    {{#if rgb_bright_enabled}}
      <div class="col-12 d-flex justify-content-center">
        <p>Brightness</p>
      </div>
      <div class="col-12 d-flex justify-content-center mb-2" id="picker-color-brightness">
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p id="picker-brightness-value"></p>
      </div>
    {{/if}}
  </div>
  {{/ifEquals}}

  {{#ifEquals mode 'tunable'}}
  <div class="row text-center">
    <div class="col-12">
      <p>Temperature</p>
    </div>
     <div class="col-12 mb-2 d-flex justify-content-center" id="picker-temperature">
     </div>
    <div class="col-12">
      <p id="picker-temperature-value"></p>
    </div>
    {{#if tunable_bright_enabled}}
      <div class="col-12">
        <p>Brightness</p>
      </div>
      <div class="col-12 mb-2 d-flex justify-content-center" id="picker-tunable-brightness">
      </div>
      <div class="col-12">
        <p id="picker-tunable-brightness-value"></p>
      </div>
    {{/if}}
  </div>
  {{/ifEquals}}

  {{#ifEquals mode 'ww'}}
    {{#if ww_bright_enabled}}
    <div class="row text-center">
      <div class="col-12">
        <p>Brightness</p>
      </div>
      <div class="col-12 mb-2 d-flex justify-content-center" id="picker-ww-brightness">
      </div>
      <div class="col-12">
        <p id="picker-ww-brightness-value"></p>
      </div>
    </div>
    {{else}}
      <p>No avaliable actions.</p>
    {{/if}}
  {{/ifEquals}}

  {{#ifEquals mode 'cw'}}
    {{#if cw_bright_enabled}}
      <div class="row text-center">
        <div class="col-12">
          <p>Brightness</p>
        </div>
        <div class="col-12 mb-2 d-flex justify-content-center" id="picker-cw-brightness">
        </div>
        <div class="col-12">
          <p id="picker-cw-brightness-value"></p>
        </div>
      </div>
    {{else}}
      <p>No avaliable actions.</p>
    {{/if}}
  {{/ifEquals}}

  <div>
    <p id="setLEDColorErrorHolder" class="text-danger text-center">
    </p>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" onclick="HomeAutomation.Control.getLoadedControlsListControl({{controlId}}).getControlObject().updateControlSettings()">Apply Settings</button>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
