<div class="row">

  <div class="justify-content-between col-12 mb-1">
    {{> CONTROL_EDIT_TITLE}}
  </div>
</div>

<div class="row mb-2">

  <div class="col-3 float-start">
  </div>

  <div class="col-6">
    <div>
      <label class="switch">
        <input id="switch-{{id}}" type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>

  <div class="col-3 float-end">
    <i class="far fa-edit fa-2x icon" onclick="HomeAutomation.Util.openModal(HomeAutomation.Control.openAddEditModal('{{topic.id}}', '{{id}}'))"></i>
  </div>

</div>

<div class="row">
  <div class="col">
    <i class="far fa-clock icon-one-half-size icon float-end"></i>
  </div>
  <div class="col">
    <i class="fas fa-sliders-h icon-one-half-size icon float-start"></i>
  </div>
</div>
